.form-section {
  padding-top: 20px;
}

.form-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-section-description {
  color: var(--color-subtle-text);
}

.form-section-title {
  margin: 0;
  font-size: 1.6em;
  color: #1b9f2b;
}

.section-instance {
  margin-bottom: 15px;
  position: relative;
}

.section-instance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.remove-section-button {
  position: absolute !important;
  top: 10px;
  right: 10px;
  min-width: unset !important;
  padding: 4px 8px !important;
  background-color: #ff4444 !important;
  color: white !important;
}

.instance-title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #666;
}

.form-field-row {
  margin-bottom: 15px;
}

.form-field-input {
  width: 100%;
}

.add-section-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #e0e0e0;
}

.add-section-button {
  min-width: 40px !important;
  width: 40px;
  height: 40px;
  padding: 0 !important;
  border-radius: 20px !important;
}
