.onboarding-page {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: var(--navbar-height);
  padding: 2rem;
}

.onboarding-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
  height: 100%;
  max-width: 1600px;
}

.onboarding-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  height: 100%;
}

.info-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.info-description {
  font-size: 1.6rem;
  margin-top: 0px; 
  line-height: 1.6;
  color: var(--color-subtle-text);
  text-align: left;
}

.onboarding-form-container {
}

.onboarding-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem;
}

.onboarding-form textarea {
  min-height: 100px;
  resize: vertical;
}

@media (max-width: 1024px) {
  .onboarding-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .onboarding-page {
    height: auto;
    padding: 1rem;
  }

  .onboarding-info,
  .onboarding-form-container {
    height: auto;
  }
}
