.admin-workflows-content {
  margin-left: 250px;
  padding: 2rem;
}

@media (max-width: 768px) {
  .admin-workflows-content {
    margin-left: 0;
    padding: 1rem;
  }
}

.workflows-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
}

.workflows-overview > * {
  width: 70%;
}

.workflows-overview .card-content {
  text-align: center;
}

.workflows-overview .card-title {
    text-align: center;
}
.workflows-overview .card-footer {
  display: flex;
  justify-content: center;
}


